@import url('https://fonts.googleapis.com/css?family=Griffy|Yanone+Kaffeesatz:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');

body{
    height: 100%;
}
html{
    overflow-y:scroll;
    font-family: "Roboto Regular", sans-serif;
    color: midnightblue;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.dataH{
     margin: 0 5% 0 4%;
}

.search{
    background: url('http://sreda-obitaniya.ru/upload/medialibrary/aec/interior_hi_tech_in_a_bathroom_036059_.jpg')
    no-repeat center ;
    --webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding:9%;
 
}

.ft{
    background-color: #2d2d2d;
    height: 100px;
    width: 100%;
}
.m{
   width: 100px;
}
.i{
    width: 200px;
    font-size: 30px;
    color: #bdbdbd;
}
.price{
    margin-right: 2px;
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 10px;
    width: 25%;
    height: 20%;
    background-color: rgba(15,0,60,0.5);
    color: wheat;
}
.itemInfo{
    margin-top: 3%;
    margin-bottom: 3%;
}
i,h4,p{
    margin-top: 3%;
    margin-bottom: 3%;
    text-indent: 10px;
    color: dimgrey;
}
div, h3{
    text-indent: 20px;
}
.h{
    min-height: 300px;
    padding: 20px 0;
}
.header{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    width: 100%;
    height: 100px;
    background-color: rgba(15,0,60,0.4);
}
.form{
    color: whitesmoke;
    font-size: 23px;
    margin: 5px 0;
    padding: 3px 0;
    height: 100%;
}

/*.color{
    background-color: #e0e0e0;
}*/
.hed{
    padding:0 10px;
    margin-top: 0;
    width: 100%;
    height: 100px;
    background-color: #e6eff4;
}
input{
    width: 150px;
    color: gray;
}
.wrapper{
    margin: 10px 80px;
    width: 100%;
}
.cont{
    margin: 5px 5px;
    padding: 5px 5px;
}
.cell{
    border: 1px solid grey;
    font-size: 20px;
    height:  680px;
    /*padding: 5px 5px;*/
     margin-bottom: 10px;
}
.mjn{
    margin-top: 20px;
}
a{
   color: black; 
}
a:hover{
    text-decoration-line: none;
    color: black;
}

.logo{
    height: 50%;
}
.sh{
     background: url('https://cdn-images-1.medium.com/max/800/1*fYlGuGXL2chUb4sYy54DPw.png')
    no-repeat center ; 
    background-size: 100%;
    width: 100%;
    height: 1000px;
    margin-top: 0;
    padding:0;
}

wrI{
    width: 100%;
    font-size: 18px;
}

.img{
    width: 100%;
    height: 420px;
}

.nop{
    width: 100%;
    height: 600px;
    box-shadow: 6px 0 7px 0 black;
    padding: 0;
    margin: 0;
}

.mapHome{
    height:400px;
   
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}